﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1115 N college Dr<br />
    Maryville, MO 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    660.528.1234
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">sashidharsiddamsetty@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">S528172@nwmissouri.edu</a>
</address>
